<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card border border-dark">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                 <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
               <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-outline-primary">Like</button>
                    <button class="btn btn-outline-success ml-2">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='About {{member.knownAs}}'>
                <h4>Description</h4>
                <p *ngIf="member.introduction; else elseDescription">{{member.introduction}}</p>
                <ng-template #elseDescription><p>Not yet updated by {{member.knownAs}}</p></ng-template>
                <h4>Looking for</h4>
                <p *ngIf="member.lookingFor; else elseLookingFor">{{member.lookingFor}}</p>
                <ng-template #elseLookingFor><p>Not yet updated by {{member.knownAs}}</p></ng-template>
            </tab>
            <tab heading='Interests'>
                <h4>Interests</h4>
                <p *ngIf="member.interests; else elseInterests">{{member.interests}}</p>
                <ng-template #elseInterests><p>Not yet updated by {{member.knownAs}}</p></ng-template>
            </tab>
            <tab heading='Photos'>
                <ngx-gallery *ngIf="member.photos.length > 0; else elsePhotos" [options]="galleryOptions" [images]="galleryImages" style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
                <ng-template #elsePhotos><p>{{member.knownAs}} has not uploaded any photo yet</p></ng-template>
            </tab>
            <tab heading='Messages'>
                <p>Messages will go here</p>
            </tab>

        </tabset>
    </div>
</div>

